<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaderment.mapper.WarrantyRegistrationMapper">
  <resultMap id="BaseResultMap" type="com.leaderment.pojo.WarrantyRegistration">
    <id column="register_id" jdbcType="INTEGER" property="registerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="phone_model" jdbcType="VARCHAR" property="phoneModel" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="product_model" jdbcType="VARCHAR" property="productModel" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warranty_registration
    where register_id = #{registerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.leaderment.pojo.WarrantyRegistration">
    insert into warranty_registration (register_id, name, country, 
      email_address, phone_model, channel, 
      product_model, order_id, register_time
      )
    values (#{registerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{emailAddress,jdbcType=VARCHAR}, #{phoneModel,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{productModel,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.leaderment.pojo.WarrantyRegistration">
    update warranty_registration
    set name = #{name,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      email_address = #{emailAddress,jdbcType=VARCHAR},
      phone_model = #{phoneModel,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      product_model = #{productModel,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP}
    where register_id = #{registerId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select register_id, name, country, email_address, phone_model, channel, product_model, 
    order_id, register_time
    from warranty_registration
    where register_id = #{registerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select register_id, name, country, email_address, phone_model, channel, product_model, 
    order_id, register_time
    from warranty_registration
  </select>
</mapper>